version: '3'

services:
    influxdb:
        build: influxdb/
        container_name: influxdb
        ports:
            - "8083:8083"
            - "8086:8086"
            - "8090:8090"
            - "25826:25826/udp"
        volumes:
            # Data persistency
            - ./influxdb_data:/var/lib/influxdb
            - ./influxdb/influxdb.conf:/etc/influxdb/influxdb.conf
        environment:
            - INFLUXDB_DB=collectd_db
    grafana:
        image: grafana/grafana:4.2.0
        container_name: grafana
        ports:
            - "3000:3000"
        env_file:
            - 'env.grafana'
        links:
            - influxdb
        volumes:
            # Data persistency
            - ./grafana_data:/var/lib/grafana
